@page "/"
@using TPN_2_Prog_Movil.Pages.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Saludo Nombre="Pepe"/>
<Saludo Nombre="Roberto" />
<Saludo Nombre="Juan" />
<Saludo Nombre="Pancho" />
